#main-navigation{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom: 3px solid;
    padding:10px;
    margin-bottom: 5px;
}

#button-container{
    display:flex;
    /* margin:15px; */
}

h1 {
    color: blue;
    margin: 0px;
}

#blog-section{
    border-top:3px solid;
    border-bottom: 3px solid;
    margin-bottom: 5px;
}

.entryCard {
    border: 2px solid;
    margin: 10px;
}

footer{
    border-top: 3px solid black;
}

.blog-title{
    border-bottom: 1px solid;
}

.blog-content{
    padding-left: 15px;
    font-style:italic;
}


.blog-username::before {
    content: "Posted by: ";
}

#footer-header{
    text-align: center;
}