:root{
    --txt-color: black;
    --mode-color: white;
}

.dark-mode{
    --mode-color: black;
    --txt-color: white;
}

body * {
    color: var(--txt-color);
    background-color: var(--mode-color);
}

#main-navigation{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom: 3px solid var(--txt-color);
    padding:10px;
    margin-bottom: 5px;
}

#button-container{
    display:flex;
    /* margin:15px; */
}

h1 {
    color: var(--txt-color);
    margin: 0px;
}

#blog-section{
    border-top:3px solid var(--txt-color);
    border-bottom: 3px solid var(--txt-color);
    margin-bottom: 5px;
}

.entryCard {
    border: 2px solid var(--txt-color);
    margin: 10px;
}

footer{
    border-top: 3px solid var(--txt-color);
}

.blog-title{
    border-bottom: 1px solid var(--txt-color);
}

.blog-content{
    padding-left: 15px;
    font-style:italic;
}


.blog-username::before {
    content: "Posted by: ";
}

#footer-header{
    text-align: center;
}
