div {
    border: 2px solid black;
}

#main-navigation{
    text-align:right;
}

#main-navigation > button{
    padding-right: 0px;
}

#main-container{
    display: flex;
    width:100%;
    height:100%;
    align-items:center;
    justify-content: center;
}

#left-rail, #right-rail {
    flex: 1;
    border: 1px solid black; /* Optional: for visual distinction */
    width:50%;
    margin:5px;
    text-align: center;
}

form{
    padding-bottom: 10px;
}

form input, textarea, label{
    margin-left: 10px;
    width:400px;
}

form, label{
    margin-left: 10px;
    width:400px;
}

h2 {
    margin-left: 10px;
}

h1{
    text-align: center;
}